<div class="container">

    <%= form_with(model: @user, local: true)  do |f| %>
    <div class="form-handler w-50 mx-auto shadow p-3 mb-5 bg-info rounded">
        <%= render 'Shared/errors', obj: @user %>
        <div class="form-group row mb-1">
            <%= f.label :username, class: 'col-sm-3 col-form-label text-white' %>
            <div class="col-sm-9">
                <%= f.text_field :username, class: 'form-control text-muted', placeholder: 'Enter the username' %>
            </div>
        </div>
        <div class="form-group row mb-1">
            <%= f.label :email, class: 'col-sm-3 col-form-label text-white' %>
            <div class="col-sm-9">
                <%= f.email_field :email, class: 'form-control text-muted', placeholder: 'Enter the email' %>
            </div>
        </div>
        <div class="form-group row mb-1">
            <%= f.label :password, class: 'col-sm-3 col-form-label text-white' %>
            <div class="col-sm-9">
                <%= f.password_field :password, class: 'form-control text-muted', placeholder: 'Enter the password' %>
            </div>
        </div>
        <%= f.submit(@user.new_record? ? "Sign up" : "Update account", class: 'btn btn-success')%>
    </div>
    <% end %>

</div>